@model IEnumerable<Core.Concretes.DTOs.Sales.CurrentCartItem>

@{
    ViewData["Title"] = "ShoppingCart";
}

<h1>ShoppingCart</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th colspan="2">
                Product
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                List Price
            </th>
            <th>
                Total Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.Thumbnail" alt="@item.Name" class="img-thumbnail" style="height:64px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <div class="input-group input-group-sm">
                        <button class="btn btn-outline-secondary" type="button" name="change_qty" data-pid="@item.ProductId" data-direction="decrement" onclick="changeQty(this)">-</button>
                        <input type="text" disabled class="form-control text-center" placeholder="" value="@item.Quantity" />
                        <button class="btn btn-outline-secondary" type="button" name="change_qty" data-pid="@item.ProductId" data-direction="increment" onclick="changeQty(this)">+</button>
                    </div>
                </td>

                <td>
                    @if (item.DiscountedPrice > 0)
                    {
                        <del class="text-danger">$@item.Price.ToString("0.00")</del>
                
                        <br />
                        <strong>$@item.DiscountedPrice.ToString("0.00")</strong>
                    }
                    else
                    {
                        <strong>$@item.Price.ToString("0.00")</strong>
                    }
                </td>
                <td>
                    @if (item.DiscountedPrice > 0)
                    {
                        <del class="text-danger">$@((item.Price* item.Quantity).ToString("0.00"))</del>
                        <br />
                        <strong>$@((item.DiscountedPrice* item.Quantity).ToString("0.00"))</strong>
                    }
                    else
                    {
                        <strong>$@((item.Price* item.Quantity).ToString("0.00"))</strong>
                    }
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        const changeQty = (btn) => {
            const body = {
                username: "@User.Identity?.Name",
                productId: parseInt(btn.dataset.pid),
                quantity: btn.dataset.direction === 'increment' ? 1 : -1
            }

            fetch("/changequantity",{
                method:"POST",
                headers:{
                    'content-type': 'application/json'
                },
                body: JSON.stringify(body)
            })
            .then(res=>{
                if(!res.ok){
                    throw new Error("Not Ok!")
                }
                location.reload()
            })
            .catch(err => console.error(err))
        }
    </script>
}
