@model HomeIndexViewModel
@{
    ViewData["Title"] = "Index";
}
<div class="row g-5">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h5>Categories</h5>
                <form asp-action="createCategory" asp-controller="home" asp-area="adminpanel" method="post">
                    <input id="name" name="name" type="text" required placeholder="New Category Name" />
                    <button type="submit">Create</button>
                </form>
            </div>
            <div class="card-body p-0">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    @foreach (var item in Model.Categories)
                    {
                        <div class="accordion-item">
                            <div class="accordion-header d-flex p-1">
                                <a class="link-danger py-2">
                                    <i class="fa-solid fa-trash-can"></i>
                                </a>
                                <a class="link-primary py-2">
                                    <i class="fa-solid fa-pencil"></i>
                                </a>
                                <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#category-@item.Id" aria-expanded="false" aria-controls="category-@item.Id">
                                    @item.Name
                                </button>
                            </div>
                            <div id="category-@item.Id" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <ul class="list-group list-group-flush">
                                        @foreach (var sub_item in Model.SubCategories.Where(x => x.ParentCategory.Id == item.Id))
                                        {
                                            <li class="list-group-item">@sub_item.Name</li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h5>Product Models</h5>
                <form asp-action="createModel" asp-controller="home" asp-area="adminpanel" method="post">
                    <input id="name" name="name" type="text" required placeholder="New Product Model Name" />
                    <button type="submit">Create</button>
                </form>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ProductModels)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>
                                    <form asp-action="removeModel" method="post">
                                        <input type="hidden" id="id" name="id" value="@item.Id" />
                                        <button class="btn py-2" type="submit">
                                            <i class="fa-solid fa-trash-can link-danger"></i>
                                        </button>
                                    </form>
                                </td>
                                <td>
                                    <button class="btn py-2">
                                        <i class="fa-solid fa-pencil link-primary"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h5>Brands</h5>
                <form asp-action="createBrand" asp-controller="home" asp-area="adminpanel" method="post" enctype="multipart/form-data">
                    <input id="name" name="name" type="text" required placeholder="New Brand Name" />
                    <!-- logo alanının C# arkaplanına veri gönderebilmesi için enctype="multipart/form-data" özelliği forma eklenmelidir. -->
                    <input id="logo" name="logo" type="file" />
                    <button type="submit">Create</button>
                </form>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Id</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Brands)
                        {
                            <tr>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.Logo))
                                    {
                                        <img class="img-thumbnail" src="@item.Logo" alt="@item.Name" style="width:64px; height:64px;" />
                                    }
                                </td>
                                <td>@item.Id</td>
                                <td>@item.Name</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

